.DS_Store
duel-app/node_modules/
duel-app/.npm/
duel-app/dist/
duel-app/build/
duel-app/.tmp
duel-app/.log
duel-app/.log.
duel-app/.vite/
duel-app/.env
duel-app/.env.local
duel-app/.env..local
duel-app/.idea/
duel-app/.vscode/
duel-app/.suo
duel-app/.ntvs
duel-app/.njsproj
duel-app/.sln
duel-app/.DS_Store
duel-app/Thumbs.db
duel-app/package-lock.json
duel-app/yarn.lock
duel-app/.pnpm-lock.yaml
duel-app/coverage/
duel-app/.pid
duel-app/.seed
duel-app/*.pid.lock
duel-app/.DS_Store
duel-app/.eslintrc.cjs

duel/.mvn/
duel/target/
duel/.idea/
duel/.vscode/
duel/.DS_Store
duel/Thumbs.db
duel/*.iml
duel/HELP.md
duel/mvnw
duel/mvnw.cmd
duel/src/main/resources/application.properties
