.board {
    position: relative;
    height: 820px;
    width: 750px;
}

.row1 {
    position: absolute;
    top: 10px;
    z-index: 1;
}

.row2 {
    position: absolute;
    top: 110px;
    z-index: 2;
}
.row3 {
    position: absolute;
    top: 210px;
    z-index: 3;
}
.row4 {
    position: absolute;
    top: 310px;
    z-index: 4;
}
.row5 {
    position: absolute;
    top: 410px;
    z-index: 5;
}
.row6 {
    position: absolute;
    top: 510px;
    z-index: 6;
}
.row7 {
    position: absolute;
    top: 610px;
    z-index: 7;
}
.c1 {
    position: absolute;
    left: 10px
}
.c2 {
    position: absolute;
    left: 70px
}
.c3 {
    position: absolute;
    left: 130px
}
.c4 {
    position: absolute;
    left: 190px
}
.c5 {
    position: absolute;
    left: 250px
}
.c6 {
    position: absolute;
    left: 310px
}

.c7 {
    position: absolute;
    left: 370px
}

.c8 {
    position: absolute;
    left: 430px
}

.c9 {
    position: absolute;
    left: 490px
}

.c10 {
    position: absolute;
    left: 550px
}

.c11 {
    position: absolute;
    left: 610px
}

.sel {
    border: 2px solid gold;
  }

