.game {
    display: flex;
  }

  .error {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .collapsible-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
  }

  .collapsible-header {
    display: flex;
    padding: 20px;
    cursor: pointer;
    align-self: left;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
  }
  
  .collapsible-content {
    padding: 10px;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .collapsible-content.open {
    display: block;
  }
  
  .gameInner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }
  
  .progress {
    position: relative;
  }

  .progress0, .progress1, .progress2, .progress3, .progress4 {
    position: absolute;
    top: 20px;
    cursor: pointer;
  }
  
  .progress0 {
    left: 165px;
  }
  
  .progress1 {
    left: 225px;
  }
  
  .progress2 {
    left: 285px;
  }
  
  .progress3 {
    left: 347px;
  }
  
  .progress4 {
    left: 405px;
  }
  
  .military-9, .military-8, .military-7, .military-6,
  .military-5, .military-4{
    position: absolute;
    top: 85px;
  }
  
  .military-3, .military-2,
  .military-1, .military0,
  .military1, .military2,
  .military3, .military4,
  .military5, .military6 {
    position: absolute;
    top: 80px;
  }
  
  
  .military7, .military8,
  .military9 {
    position: absolute;
    top: 75px;
  }
  
  .military-9 {
    left: 35px;
  }
  
  .military-8 {
    left: 65px;
  }
  
  .military-7 {
    left: 95px;
  }
  
  .military-6 {
    left: 125px;
  }
  
  .military-5 {
    left: 155px;
  }
  
  .military-4 {
    left: 185px;
  }
  
  .military-3 {
    left: 215px;
  }
  
  .military-2 {
    left: 245px;
  }
  
  .military-1 {
    left: 275px;
  }
  
  
  .military0 {
    left: 305px;
    top: 80px;
  }
  
  .military1 {
    left: 330px;
  }
  
  .military2 {
    left: 360px;
  }
  
  .military3 {
    left: 390px;
  }
  
  .military4 {
    left: 418px;
  }
  
  .military5 {
    left: 445px;
  }
  
  .military6 {
    left: 475px;
  }
  
  .military7 {
    left: 502px;
  }
  
  .military8 {
    left: 532px;
  }
  
  .military9 {
    left: 560px;
  }
  
  .loot5Player1Available {
    position: absolute;
    top: 142px;
    left: 70px;
  }
  
  .loot5Player2Available {
    position: absolute;
    top: 135px;
    left: 480px;
  }
  
  .loot2Player1Available {
    position: absolute;
    top: 142px;
    left: 167px;
  }
  
  .loot2Player2Available {
    position: absolute;
    top: 137px;
    left: 400px;
  }
  
  .gameInner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .playerHand {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin: 15px;
  }
  
  .playerHand h4, .playerHand h5 {
    margin: 0;
    padding: 0;
  }
  
  .wonders {
    display: flex;
    position: relative;
    height: 110px;
  }
  
  .wonder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 195px;
    height: 50px;
    position: relative;
    gap: 5px;
  }
  
  
  .wonderCard {
    position: absolute;
    z-index: 2;
    width: 185px;
    height: auto;
    cursor: pointer;
  }
  
  .wonderBack {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 85px;
  }
  
  .playerCards {
    display: flex;
    position: relative;
    justify-content: center;
    width: 640px;
  }
  
  .cardColumn {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 120px;
  }
  
  .cardColumn span {
    margin-top: -110px;
  }
  
  .cardColumn span:first-child {
    margin-top: 0;
  }
  
  .playerCard img {
    width: 95px;
    height: auto;
  }

  .playerMoves {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .discardPile img {
    height: 150px;
    width: auto;
  }

  .coin-container {
    position: relative;
    width: 30px;
  }
  
  .coin {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .coin-amount {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .coin-amount-text {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  