.game {
  display: flex;
  justify-content: center;
}


.game-inner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ai-spinner {
  position: absolute;
  z-index: 8000;
  display: flex;
  align-items: center;
  justify-content: center;
}