.game {
  overflow-x: auto;
  width: 100%;
}

.game-inner-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  min-width: max-content;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


.game-inner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-inner1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.ai-spinner {
  position: absolute;
  z-index: 8000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 800;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-overlay {
  pointer-events: none;
}